
.singleCard{
	width: 300px;
	height: 320px;
	background-color:lightcoral;
	border-radius: 8px;
	text-align: center;
	

}
.activities-info{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 4px;
	
}
.singleCard img{
	width: 170px;
	height: 150px;
	margin-bottom: 4px;
	border-radius: 8px;
	
}
.info{
	padding: 5px;
}
.info p{
	margin-top: -8px;
	font-size: 14px;

}

.card-btn{
	padding: 10px 50px;
	background-color: white;
	border-radius: 5px;
	outline: none;

}
.card-btn:hover{
	background-color: lightslategrey;
}
